<div class="d-flex justify-content-center  align-items-center">
  <div class="text-center">
    <h3>Cadastro de Membros</h3>
    <div class="v-align">
    <form [formGroup]="membroForm" (ngSubmit)="cadastrarMembro()">
      <div class="form-group">
        <label for="nome">Nome:</label>
        <input type="text" class="form-control" id="nome" formControlName="nome">
        <div *ngIf="isInvalidField('nome')" class="text-danger">Nome inválido.</div>
      </div>
      <div class="form-group">
        <label for="telefone">Telefone:</label>
        <input type="tel" class="form-control" id="telefone" formControlName="telefone">
        <div *ngIf="isInvalidField('telefone')" class="text-danger">Telefone inválido.</div>
      </div>
      <div class="form-group">
        <label for="endereco">Endereço:</label>
        <input type="text" class="form-control" id="endereco" formControlName="endereco">
        <div *ngIf="isInvalidField('endereco')" class="text-danger">Endereço inválido.</div>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="membroForm.invalid">Cadastrar</button>

    </form>
    </div>
  </div>
</div>