<div *ngIf="mostrarMembrosPage">
  <h2>Listagem de Membros</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Endereço</th>
        <th>Telefone</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let membro of membros">
        <td>{{ membro.nome }}</td>
        <td>{{ membro.endereco }}</td>
        <td>{{ membro.telefone }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="acoes">
<button type="button" class="btn btn-primary" (click)="mostrarMembrosModal=true;mostrarMembrosPage=false" *ngIf="mostrarMembrosModal==false&&membros.length">
  Cadastrar Membros
</button>
</div>

<app-cadastro-membros  *ngIf="mostrarMembrosModal" (membroCadastrado)="adicionarMembro($event)"></app-cadastro-membros>